html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: $footer-height;
    padding-top: $header-height;
}

.page__header {
    height: $header-height;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.page__logo {
    max-height: ($header-height - 1); //minus 1rem padding from .navbar
}

.page__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $footer-height;
}

.page__background {
    background: #FCFCFC;
}